@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bungee&family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

*{
    margin: 0;
    border: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 100px;
    background-color: black;
    align-items: center;
}
.left{
    color: white;
    font-size: 90px;
    padding-left: 20px;
    font-family: "Bungee", sans-serif;


}
.right a{
    font-size: 30px;
    gap: 30px;
    align-self: center;
    text-decoration: none;
    color: white;
    margin: 30px;
    
    
}
#hero{
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.rightHero{
    max-width: 800px;
}
.rightHero h1{
    font-size: 100px;
}
.rightHero p{
    font-size: 24px;
}
#projects{
    height: 500px;
    background-color: black;
    color: white;
    padding: 40px;
    
}
#projects h1{
    text-align: center;
    font-size: 50px;
}
.projectContainer{
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.landingPage, .rps, .etchaSketch{
        width: 300px;
        border: 1px solid white;
        padding: 20px;
        border-radius: 15px;
        text-align: center;
}
.projectContainer a{
    font-size: 30px;
    color: white;
    font-weight: bold;
}
.projectContainer p{
    font-size: 16px;
    margin-top: 20px;
}
.socials{
    display: flex;
    justify-content: center;
    gap: 50px;
}
#contact h1{
    text-align: center;
    font-size: 50px;
    padding-right: 20px;
}
#contact{
    padding: 40px;
    height: 400px;
}
.socials a{

    font-size: 30px;
    color: black;
}
.linkedin, .github{
    width: 300px;
    }
.footer{
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}
