@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
*{
    margin:0;
    border:0;
    font-family: "Google Sans", sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-color: rgb(0, 46, 0);
}
.title{
    font-size: 65px;
    font-family: "Dancing Script", cursive;
    color: white;
    margin-left: 20px;
}
.headerLinks{
    font-size: 20px;
    margin: 20px;
    margin-right: 30px;
    display: flex;
    gap: 40px;
    
}
.linkElement{
    text-decoration: none;
    color: rgba(255, 253, 253, 0.945);;
}
.hero{
    border: 1px solid black;
    display: flex;
    height: 500px;
    background-color: rgb(54, 90, 0);
    color: white;
    justify-content: space-evenly;
    align-items: center;
    
}
.heroHeading{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 43px;
    font-weight: 1000;
}
.leftHero{
   width: 450px;
   align-self: center;
   
}
.rightHero{
  width: 450px;
}
.heroP{
  font-size: 19px;
  font-weight: lighter;
}
.imgBox img{
    height: 400px;
    border-radius: 12px;
}